<%= form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Název" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Kód" %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label 'Město' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label 'Ulice' %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label 'PSČ' %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label 'Souřadnice' %><br>
    <%= f.text_field :coordinates %>
  </div>
  <div class="field">
    <%= f.label 'Popis' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Sigla' %><br>
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label 'Kraj' %><br>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label 'Město' %><br>
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label 'Web' %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label 'Typ knihovny' %><br>
    <%= f.text_field :context %>
  </div>
  <div class="field">
    <%= f.label 'Tel. číslo' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit "Potvrdit změny"%>
  </div>
<% end %>
