<% provide(:title, t('libraries.page_title')) %>
<h1><%= t('libraries.page_header') %></h1>

<div class="cl-libraries">
  <div class="cl-search">
    <%= form_tag("/libraries", enforce_utf8: false, method: "get", id: "search-form") do %>
      <%= text_field_tag :q, @query, 
          placeholder: t('libraries.search.placeholder'), class: "search-query ui-autocomplete-input form-control cl-search-input", id:"search-query", autofocus:"", spellcheck:"false" %>
      <%= submit_tag t('libraries.search.action'), name: nil, class: "search-me btn btn-primary cl-search-submit", id:"search-submit"  %>
    <% end %>
  </div> 
  
  <div class="cl-search-count"><%= t('libraries.search.results') %>: <b><%= @all.length %></b>
    <span id="nearby-wrapper" style="display:none">|
      <a id="nearby" href="#"><%= t('libraries.search.nearby') %></a>
    </span>
  </div>

  <% if @show_results %>
    <% if @libraries.length > 0 %>
      <div id="map-canvas" style="width: 100%; height: 300px;margin:10px 0;"></div>
      
      <div class="row" style="padding-top:5px;">
        <div class="col-md-9">
          <div class="cl-list">
            <%= render @libraries %>
            <%= will_paginate @libraries, class: "pagination cl-pagination-centered"%>
          </div>  
        </div>
        <div class="col-md-3 cl-filters">

          <div class="panel panel-primary cl-panel" id="panelRegion">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseRegion">
                  Kraj
                </a>
              </h4>
            </div>
            <div id="collapseRegion" class="panel-collapse collapse in">
              <div class="cl-panel-body">
                <% @region_map.each do |key, value| %>                    
                  <% if @region && @region == key %>
                    <%= link_to libraries_path(region: nil, services: @service_codes.join(",") ,q: @query) do %>
                      <div class="cl-item">                                                
                        <img class="cl-remove" src="<%= asset_path 'ic_remove.png' %>"/>
                        <%= key %> 
                        </div>
                    <% end %>                  
                  <% else %>
                    <%= link_to libraries_path(region: key, services: @service_codes.join(","), q: @query) do %>
                      <div class="cl-item">
                        <span class="cl-count"><%= value %></span>
                        <%= key %>
                      </div>
                    <% end %>                  
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="panel panel-primary cl-panel" id="panelService">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseService">
                  Služby
                </a>
              </h4>
            </div>
            <div id="collapseService" class="panel-collapse collapse in">
              <div class="cl-panel-body">
                <% @service_map.each do |key, value| %>                    
                    <% if @service_codes.index(key) %>
                      <%= link_to libraries_path(services: (@service_codes - [key]).join(","), region: @region, q: @query) do %>
                        <div class="cl-item cl-active">
                          <img class="cl-remove" src="<%= asset_path 'ic_remove.png' %>"/>
                          <%= @services.find_by(code: key).name %>                        
                        </div>
                      <% end %>                                    
                    <% else %>
                      <%= link_to libraries_path(services: (@service_codes + [key]).join(","), region: @region, q: @query) do %>
                        <div class="cl-item">
                          <span class="cl-count"><%= value %></span>
                          <%= @services.find_by(code: key).name %>                        
                        </div>
                      <% end %>                                    
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>




        </div>
      </div>



    <% else %>
      <div style="width:100%;margin-top:20px;font-size:15px;color:#444;text-align:center;">
        <%= t('libraries.search.no_result') %>
      </div>
    <% end %>
  <% end %>

</div>


<script>
  var latitude = null;
  var longitude = null;
  var map = null;

  var geoSuccess = function(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    $("#nearby").click(function(event) {
      event.preventDefault();
      window.location.href = "?lat=" + latitude + "&lon=" + longitude;
    });    
    if(map) {
      var myLocationIcon = {
        url: "<%= asset_path 'ic_home_blue.png' %>",    
        size: new google.maps.Size(32, 32),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(16, 16)
      };
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng (latitude, longitude),
        icon: myLocationIcon,
        map: map,
        title: "<%= t('libraries.search.my_location') %>"
      });
    }
    $('#nearby-wrapper').show();
  };

  var geoError = function(error) {
    console.log('Error occurred. Error code: ' + error.code);
    // error.code can be:
    //   0: unknown error
    //   1: permission denied
    //   2: position unavailable (error response from location provider)
    //   3: timed out
  };  

<% if @show_results && @libraries.length > 0 %> 
  function initialize() {
    var latlng = new google.maps.LatLng(49.9, 15.6);
    var mapOptions = {
        zoom: 7,
        center: latlng
    };
    var infoWindow = new google.maps.InfoWindow();
    var libraries = [];
    var markers = [];  
    var bounds = new google.maps.LatLngBounds();  
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);    
    <% @all.each_with_index do |library, index| %>    
      <% unless library.latitude.nil? || library.longitude.nil? %>
        libraries.push({id:'<%= library.sigla %>', lat:<%= library.latitude%>, lon:<%= library.longitude %>, name:'<%= library.name %>', address:'<%= library.street %>, <%= library.zip %> <%= library.city %>'});
      <% end %>
    <% end %>
    var info = [];
    for(var i = 0; i < libraries.length; i++) {
      var l = libraries[i];   
      var contentString = '<div id="content" class="cl-marker-info">'+      
        '<div class="cl-title">' + l.name + '</div>'+
        '<div class="cl-subtitle">' + l.address + '</div>'+
        '<a href="/libraries/' + l.id + '">Detail knihovny</a>' +
        '</div>';
      info.push(contentString);
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng (l.lat, l.lon),
        map: map,
        title: l.title
      }); 
      bounds.extend(marker.getPosition());
      markers.push(marker);
      google.maps.event.addListener(marker, 'click', (function(marker, index) {
        return function() {       
          infoWindow.setContent(info[index]);
          infoWindow.open(map, marker);
        }
      })(marker, i));
    }
    <% if @all.length > 10 %>
      var mcOptions = {gridSize: 75, maxZoom: 10};
      var mc = new MarkerClusterer(map, markers, mcOptions);
    <% end %>
    google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
      if (this.getZoom() > 15) {
        this.setZoom(15);
      } else if(this.getZoom() < 7) {
        this.setZoom(7);
      }
    });
    map.fitBounds(bounds);
  }
<% end %>

  $(document).ready(function() {
    $("#search-query").autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "/libraries/autocomplete",
          dataType: "json",
          data: {
            q: request.term          
          },
          success: function(data) {
            //response(data);
            response($.map(data, function(v){
                    return {
                                label: v.name,
                                value: v.name                            
                    }
                }));

          },
          error: function(xhr, ajaxOptions, thrownError) {
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {        
        if(ui.item) {
          $("#search-query").val(ui.item.value);
          $("#search-form").submit(); 
        }                  
      }
    });


    <% if @show_results && @libraries.length > 0 %> 
      initialize();
    <% end %>
    if (navigator.geolocation) {
      console.log('Geolocation is supported!');
      var startPos;
      var geoOptions = {
       timeout: 10 * 1000
      }
      navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
    } else {
      console.log('Geolocation is not supported for this Browser/OS version yet.');
    }
  });
  
</script>

