<h1>Databáze knihoven</h1>

<div class="cl-libraries">
  
  <div class="cl-search">


<!--<%= autocomplete_field_tag :name, '', autocomplete_library_name_libraries_path, :size => 75%>-->

    <%= form_tag("/libraries", enforce_utf8: false, method: "get") do %>
      
<!--
      <%= label_tag :q, "Vyhledat knihovnu", class: "cl-search-label"%>
      <%= text_field_tag :q , @query, placeholder: "Název, kód, nebo sigla knihovny ..." ,class: "form-control cl-search-input"%>
       
-->
<%= autocomplete_field_tag :q, @query, autocomplete_library_name_libraries_path, :size => 75,
    placeholder: "Název, kód, nebo sigla knihovny ..." ,class: "search-query form-control cl-search-input"%>
      <%= submit_tag "Vyhledat" , name: nil, class: "search-me btn btn-primary cl-search-submit" %>

    <% end %>

  </div> 

<% if @query && @libraries.length > 0 %>


  <div id="map-canvas" style="width: 100%; height: 300px;margin:10px 0;"></div>

  <div class="cl-list">
    <%= render @libraries %>
    <%= will_paginate @libraries, class: "pagination cl-pagination-centered"%>
  </div>  
</div>

<% elsif @libraries.length == 0 %>

  <div style="width:100%;margin-top:20px;font-size:15px;color:#444;text-align:center;">
  Nebyly nalezeny žádné výsledky.
  </div>

<% end %>


<script>
$( document ).ready(function() {
  $('.search-query').bind('railsAutocomplete.select', function(event, data) {
    $('.search-me').trigger('click')
  });
});
</script>





<% if @query && @libraries.length > 0 %>
<script type="text/javascript">    
  function initialize() {
    var latlng = new google.maps.LatLng(49.9, 15.6);
    var mapOptions = {
        zoom: 7,
        center: latlng
    };
    var infoWindow = new google.maps.InfoWindow();
    var libraries = [];
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    <% @libraries.each_with_index do |library, index| %>    
      <% unless library.latitude.nil? || library.longitude.nil? %>
        libraries.push({id:<%= library.id %>, lat:<%= library.latitude%>, lon:<%= library.longitude %>, name:'<%= library.name %>', address:'<%= library.street %>, <%= library.zip %> <%= library.city %>'});
      <% end %>
    <% end %>
    var info = [];
    for(var i = 0; i < libraries.length; i++) {
      var l = libraries[i];
     
      var contentString = '<div id="content" class="cl-marker-info">'+      
        '<div class="cl-title">' + l.name + '</div>'+
        '<div class="cl-subtitle">' + l.address + '</div>'+
        '<a href="/libraries/' + l.id + '">Detail knihovny</a>' +
        '</div>';
      info.push(contentString);
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng (l.lat, l.lon),
        map: map,
        title: l.title
      }); 
      google.maps.event.addListener(marker, 'click', (function(marker, index) {
        return function() {       
          infoWindow.setContent(info[index]);
          infoWindow.open(map, marker);
        }
      })(marker, i));
    }
  }
  initialize();
</script>
<% end %>