<h1>Databáze knihoven</h1>

<div class="cl-libraries">
  
  <div class="cl-search">


<!--<%= autocomplete_field_tag :name, '', autocomplete_library_name_libraries_path, :size => 75%>-->

    <%= form_tag("/libraries", enforce_utf8: false, method: "get") do %>
      
<!--
      <%= label_tag :q, "Vyhledat knihovnu", class: "cl-search-label"%>
      <%= text_field_tag :q , @query, placeholder: "Název, kód, nebo sigla knihovny ..." ,class: "form-control cl-search-input"%>
       
-->
<%= autocomplete_field_tag :q, @query, autocomplete_library_name_libraries_path, :size => 75,
    placeholder: "Název, kód, nebo sigla knihovny ..." ,class: "search-query form-control cl-search-input"%>
      <%= submit_tag "Vyhledat" , name: nil, class: "search-me btn btn-primary cl-search-submit" %>

    <% end %>

  </div> 

<% if @query && @libraries.length > 0 %>


  <div id="map-canvas" style="width: 100%; height: 300px;margin:10px 0;"></div>

  <div class="cl-list">
    <%= render @libraries %>
    <%= will_paginate @libraries, class: "pagination cl-pagination-centered"%>
  </div>  
</div>

<% elsif @libraries.length == 0 %>

  <div style="width:100%;margin-top:20px;font-size:15px;color:#444;text-align:center;">
  Nebyly nalezeny žádné výsledky.
  </div>

<% end %>


<script>
$( document ).ready(function() {
  $('.search-query').bind('railsAutocomplete.select', function(event, data) {
    $('.search-me').trigger('click')
  });
});


if (navigator.geolocation) {
  console.log('Geolocation is supported!');

  window.onload = function() {
  var startPos;
    var geoOptions = {
     timeout: 10 * 1000
  }
  var geoSuccess = function(position) {
    console.log(position);    
    //document.getElementById('startLat').innerHTML = startPos.coords.latitude;
    //document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  var geoError = function(error) {
    console.log('Error occurred. Error code: ' + error.code);
    // error.code can be:
    //   0: unknown error
    //   1: permission denied
    //   2: position unavailable (error response from location provider)
    //   3: timed out
  };  
  navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
};

}
else {
  console.log('Geolocation is not supported for this Browser/OS version yet.');
}

</script>





<% if @query && @all.length > 0 %>
<script type="text/javascript">    
  function initialize() {
    var latlng = new google.maps.LatLng(49.9, 15.6);
    var mapOptions = {
        zoom: 7,
        center: latlng
    };
    var infoWindow = new google.maps.InfoWindow();
    var libraries = [];
    var markers = [];    
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);    
    <% @all.each_with_index do |library, index| %>    
      <% unless library.latitude.nil? || library.longitude.nil? %>
        libraries.push({id:'<%= library.sigla %>', lat:<%= library.latitude%>, lon:<%= library.longitude %>, name:'<%= library.name %>', address:'<%= library.street %>, <%= library.zip %> <%= library.city %>'});
      <% end %>
    <% end %>
    var info = [];
    for(var i = 0; i < libraries.length; i++) {
      var l = libraries[i];
     
      var contentString = '<div id="content" class="cl-marker-info">'+      
        '<div class="cl-title">' + l.name + '</div>'+
        '<div class="cl-subtitle">' + l.address + '</div>'+
        '<a href="/libraries/' + l.id + '">Detail knihovny</a>' +
        '</div>';
      info.push(contentString);
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng (l.lat, l.lon),
        map: map,
        title: l.title
      }); 
      markers.push(marker);
      google.maps.event.addListener(marker, 'click', (function(marker, index) {
        return function() {       
          infoWindow.setContent(info[index]);
          infoWindow.open(map, marker);
        }
      })(marker, i));
    }
    <% if @all.count > 500 %>
      var mcOptions = {gridSize: 75, maxZoom: 10};
      var mc = new MarkerClusterer(map, markers, mcOptions);
    <% end %>
  }
  initialize();
</script>
<% end %>