<div class="cl-library-detail">
<h2><%= @library.name %></h2>

<div class="row">
  <div class="col-md-8" style="padding-bottom:10px;">

  <% unless @library.latitude.nil? || @library.longitude.nil? %>
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>
    <br/>
  <% end %>    
    <p><%= @library.description %></p>        
  </div>

  <div class="col-md-4" style="padding-bottom:10px;">
   <div class="cl-right">
    <p>
<img src="<%= asset_path 'ic_location.png' %>" style="width:18px; height:26px;padding:4px 0px; margin-right:3px;"/>    
    <%= @library.street %></p>
    <p style ="margin-left:26px;"><%= @library.city %>, <%= @library.zip %></p>
    <br/>
    <br/>
    <p style="margin-bottom:5px;">
    <img src="<%= asset_path 'ic_web.png' %>" style="width:16px; height:24px;padding:4px 0px; margin-right:5px;"/>
    <a href="<%= @library.url %>"><%= @library.url %></a>
    </p>
    <!--
    <p style="margin-bottom:5px;">
    <img src="<%= asset_path 'ic_phone.png' %>" style="width:16px; height:24px;padding:4px 0px; margin-right:5px;"/>
    
    </p>
    -->
    <p>
    <img src="<%= asset_path 'ic_email.png' %>" style="width:16px; height:24px;padding:4px 0px; margin-right:5px;"/>
    <%= @library.email %>
    </p>
    <br/>
    <br/>
    <p>Typ: <%= @library.context %></p>    
    <p>Kraj: <%= @library.district %></p>
    <p>Město: <%= @library.town %></p>
    <p>Sigla: <%= @library.sigla %></p>    
   </div> 
  </div>
</div>

<%= link_to 'Upravit', edit_library_path(@library) %>
</div>



<% unless @library.latitude.nil? || @library.longitude.nil? %>
<script type="text/javascript">  
  function initialize() {

    var myLatlng = new google.maps.LatLng(<%= @library.latitude%>, <%= @library.longitude%>);
    var mapOptions = {
      zoom: 10,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


    var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h2 id="firstHeading" class="firstHeading"><%= @library.name%></h1>'+
      '<div id="bodyContent">'+
      '<p>' +
      '<%= @library.street %>' + '<br/>' +
      '<%= @library.city %>' + '<br/>' +
      '<%= @library.zip %>' + '<br/>' +
      '</p>'+
      '</div>'+
      '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '<%= @library.name%>'
    });


    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });


  }
  initialize();
  /*google.maps.event.addDomListener(window, 'load', initialize);*/
</script>
<% end %>