<div class="cl-library-detail">
<h2><%= @library.name %></h2>


<div class="cl-address">
<img src="<%= asset_path 'ic_location_gray.png' %>"/>
  <span class="cl-address-text">
    <%= @library.street %>,    
    <%= @library.zip %>
    <%= @library.city %>
  </span>


</div>


<% if @web || @catalog %>
  <div class="cl-links">
    <% if @web %>
      <a href="<%= @web %>" class="btn btn-primary cl-btn">Web knihovny</a>
    <% end %>
    <% if @catalog %>
      <a href="<%= @catalog %>" class="btn btn-info cl-btn">Otevřít katalog</a>
    <% end %>
  </div>
<% end %>




<div class="row">
  <div class="col-md-8" style="padding-bottom:10px;">

  <% unless @library.latitude.nil? || @library.longitude.nil? %>
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>   
  <% end %>        
  </div>

  <div class="col-md-4" style="padding-bottom:10px;">
   <div class="cl-right">
  
   </div> 
  </div>
</div>



<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Kontakt</a>
    </li>
    <li role="presentation">
      <a href="#branches" aria-controls="branches" role="tab" data-toggle="tab">Pobočky</a>
    </li>
    <li role="presentation">
      <a href="#services" aria-controls="services" role="tab" data-toggle="tab">Služby</a>
    </li>
    <li role="presentation">
      <a href="#info" aria-controls="info" role="tab" data-toggle="tab">Další</a>
    </li>    
  </ul>
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="contact">
      <div class="cl-contact-wrapper">
        
        <div class="cl-category cl-border-bottom">      
          <div class="cl-title">Telefon</div>
          <div class="cl-items">
            <% @library.phones.each do |phone| %>
              <div class="cl-item"><%= phone.phone %></div>
            <% end %>
          </div>
        </div>

        <div class="cl-category cl-border-bottom">      
          <div class="cl-title">E-mail</div>
          <div class="cl-items">
            <% @library.emails.each do |email| %>
              <div class="cl-item">
                <%= email.email %>
                <% if email.note %> 
                  (<%= email.note %>)
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <%if !@library.faxes.empty? %>
          <div class="cl-category cl-border-bottom">      
            <div class="cl-title">Fax</div>
            <div class="cl-items">
              <% @library.faxes.each do |fax| %>
                <div class="cl-item"><%= fax.fax %></div>
              <% end %>
            </div>
          </div>    
        <% end %>

        <div class="cl-category">      
          <div class="cl-title">Odpovědné osoby</div>
          <div class="cl-items">
            <% @library.people.each_with_index do |person, index| %>              
              <% if index > 0 %>
                <br/>  
              <% end %>
              <div class="cl-person">
                <div class="cl-person-name">
                  <%= person.degree1 %> <%= person.first_name %> <%= person.last_name %> <%= person.degree2 %>
                  <% if person.role %> 
                    (<%= person.role %>)
                  <% end %>                
                </div>
                <% if person.email %> 
                  <div class="cl-person-contact">e-mail: <%= person.email %></div>
                <% end %>  
                <% if person.phone %> 
                  <div class="cl-person-contact">tel.: <%= person.phone %></div>
                <% end %>
              </div>

            <% end %>
          </div>
        </div>    


      </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="branches">
      <div style="padding:5px;">TODO</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="services">
      <div class="cl-contact-wrapper">

        <div class="cl-category">      
          <div class="cl-title">Webové stránky</div>
          <div class="cl-items">
            <% @library.websites.each do |website| %>
              <div class="cl-item">
                <%= website.url %> 
                <% if website.note %> 
                  (<%= website.note %>)
                <% end %>
              </div>
            <% end %>
          </div>
        </div>    

      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="info">
      <div class="cl-contact-wrapper">        
        <div class="cl-category">      
          <div class="cl-items">   
            <div class="cl-item" style="padding-bottom:10px;">
              <strong>Popis</strong>
              <div><%= @library.description %></div>
            </div>
            <div class="cl-item"><strong>Typ</strong> <%= @library.context %></div>
            <div class="cl-item"><strong>Kraj</Strong> <%= @library.district %></div>
            <div class="cl-item"><strong>Okres</Strong> <%= @library.town %></div>
            <div class="cl-item"><strong>Sigla</Strong> <%= @library.sigla %></div>
            <div class="cl-item"><strong>Zkratka</Strong> <%= @library.code %></div>
            <div class="cl-item"><strong>IČ</Strong> <%= @library.ico %></div>
            <div class="cl-item"><strong>DIČ</Strong> <%= @library.dic %></div>
            <% if @library.active %>
              <div class="cl-item" style="margin-top:8px;">Knihovna je <Strong>aktivní</Strong></div>
            <% else %>
              <div class="cl-item" style="margin-top:8px;">Knihovna je <Strong>zrušena</Strong></div>
            <% end %>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
</div>


<script type="text/javascript">  
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
</script>



<% unless @library.latitude.nil? || @library.longitude.nil? %>
<script type="text/javascript">  
  function initialize() {

    var myLatlng = new google.maps.LatLng(<%= @library.latitude%>, <%= @library.longitude%>);
    var mapOptions = {
      zoom: 10,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


    var contentString = '<div id="content" class="cl-marker-info">'+      
        '<div class="cl-title"><%= @library.name %></div>'+
        '<div class="cl-subtitle"><%= @library.street %>, <%= @library.zip %> <%= @library.city %></div>'+
        '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '<%= @library.name%>'
    });


    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });


  }
  initialize();
  /*google.maps.event.addDomListener(window, 'load', initialize);*/
</script>
<% end %>