<div class="cl-library-detail">

<% if I18n.locale == :cs || @library.name_en.nil? %>
  <% provide(:title, @library.name) %>
  <h1><%= @library.name %></h1>  
  <% if @library.bname || @library.cname %>
    <h2 class="cl-additional_name"><%= @library.bname %><%= " - #{@library.cname}" if @library.cname %></h2>
  <% end %>
<% else %>
  <% provide(:title, @library.name_en) %>
  <h1><%= @library.name_en %></h1>
  <% if @library.bname_en || @library.cname_en %>
    <h2 class="cl-additional_name"><%= @library.bname_en %><%= " - #{@library.cname_en}" if @library.cname_en %></h2>
  <% end %>
<% end %>

<div class="cl-address">
  <img src="<%= asset_path 'ic_location_gray.png' %>"/>
  <span class="cl-address-text">
    <%= @library.street %>,    
    <%= @library.zip %>
    <%= @library.city %>
  </span>
</div>


<% if @web || @catalog %>
  <div class="cl-links">
    <% if @web %>
      <a href="<%= @web %>" class="btn btn-primary cl-btn"><%= t('detail.website') %></a>
    <% end %>
    <% if @catalog %>
      <a href="<%= @catalog %>" class="btn btn-info cl-btn"><%= t('detail.catalog') %></a>
    <% end %>
  </div>
<% end %>


<div class="row" style="padding-bottom:10px;">
  
  <div class="col-md-9">
    <% unless @library.latitude.nil? || @library.longitude.nil? %>
      <div id="map-canvas" style="width: 100%; height: 400px;"></div>   
    <% end %>        
  </div>

  <div class="col-md-3">
    <div class="cl-right">

      <% if @library.opening_hour %>
        <%= render partial: "opening_hours", locals: {loh: @library.opening_hour} %>
      <% else %>
        <% if @library.phones.present? %>
        <div class="cl-row">
          <img class="cl-icon" src="<%= asset_path 'ic_phone.png' %>"/>
            <div class="cl-text"><%= @library.phones.first.phone %></div>
          </div>
        <% end %>

        <% if @library.emails.present? %>
          <div class="cl-row">
            <img class="cl-icon" src="<%= asset_path 'ic_email2.png' %>"/>
            <div class="cl-text"><%= @library.emails.first.email %></div>
          </div>
        <% end %>    

        <% if @library.people.present? %>              
          <div class="cl-row">
            <img class="cl-icon" src="<%= asset_path 'ic_person2.png' %>"/>
            <div class="cl-text">
              <% person = @library.people.first %>
              <%= person.degree1 %> <%= person.first_name %> <%= person.last_name %> <%= person.degree2 %>
              <% if person.role %> 
                (<%= person.role %>)
              <% end %>
            </div>                
          </div>
        <% end %>       
      <% end %>
    </div> 
  </div>
</div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"><%= t('detail.contacts.title') %></a>
    </li>
    <% if @library.services.present? || @library.projects.present? %>
      <li role="presentation">
        <a href="#services" aria-controls="services" role="tab" data-toggle="tab"><%= t('detail.services.title') %></a>
      </li>
    <% end %>
    <% if @library.branches.present? || @library.branches_url? %>
      <li role="presentation">
        <a href="#branches" aria-controls="branches" role="tab" data-toggle="tab"><%= t('detail.branches.title') %></a>
      </li>
    <% end %>    
  </ul>
 <div class="tab-content cl-box">
    <div role="tabpanel" class="tab-pane active" id="contact">
      <div class="cl-contact-wrapper">

        <div class="cl-category">      
          <div class="cl-title"><%= t('detail.contacts.address') %></div>
          <div class="cl-items">
            <div class="cl-item">
              <%= @library.street %>,    
              <%= @library.zip %>
              <%= @library.city %>
            </div>
          </div>
        </div> 

        <%if !@library.websites.empty? %>        
          <div class="cl-category">      
            <div class="cl-title"><%= t('detail.contacts.websites') %></div>
            <div class="cl-items">
              <% @library.websites.each do |website| %>
                <div class="cl-item">
                  <a href="<%= website.url %>">
                    <%= website.url %> 
                    <% if website.note %> 
                      (<%= website.note %>)
                    <% end %>
                  </a>
                </div>
              <% end %>
            </div>
          </div> 
        <% end %>

        <%if !@library.phones.empty? %>        
          <div class="cl-category">      
            <div class="cl-title"><%= t('detail.contacts.phone') %></div>
            <div class="cl-items">
              <% @library.phones.each_with_index do |phone, index| %>
                <% if index == 5 %>
                  <div class="collapse" id="collapsePhones">
                <% end %>
                <div class="cl-item"><%= phone.phone %></div>
              <% end %>
              <% if @library.phones.length > 5 %>
                </div>
                <a class="cl-toggle" data-toggle="collapse" href="#collapsePhones" aria-expanded="false" aria-controls="collapsePhones"></a>
              <% end %>              
            </div>
          </div>
        <% end %>

        <%if !@library.emails.empty? %>
          <div class="cl-category">      
            <div class="cl-title"><%= t('detail.contacts.email') %></div>
            <div class="cl-items">              
              <% @library.emails.each_with_index do |email, index| %>
                <% if index == 5 %>
                  <div class="collapse" id="collapseEmails">
                <% end %>
                <div class="cl-item">
                  <%= email.email %> 
                  <% if email.note %> 
                    (<%= email.note %>)
                  <% end %>
                </div>                
              <% end %>
              <% if @library.emails.length > 5 %>
                </div>
                <a class="cl-toggle" data-toggle="collapse" href="#collapseEmails" aria-expanded="false" aria-controls="collapseEmails"></a>
              <% end %>
            </div>
          </div>
        <% end %>

        
        <%if !@library.faxes.empty? && !@library.people.empty? %>
          <div class="collapse" id="collapseOthers">
          
            <%if !@library.faxes.empty? %>
              <div class="cl-category">      
                <div class="cl-title"><%= t('detail.contacts.fax') %></div>
                <div class="cl-items">
                  <% @library.faxes.take(3).each do |fax| %>
                    <div class="cl-item"><%= fax.fax %></div>
                  <% end %>
                </div>
              </div>    
            <% end %>

            <%if !@library.people.empty? %>
              <div class="cl-category">      
                <div class="cl-title"><%= t('detail.contacts.people') %></div>
                <div class="cl-items">
                  <% @library.people.each_with_index do |person, index| %>              
                    <% if index > 0 %>
                      <br/>  
                    <% end %>
                    <div class="cl-person">
                      <div class="cl-person-name">
                        <%= person.degree1 %> <%= person.first_name %> <%= person.last_name %> <%= person.degree2 %>
                        <% if person.role %> 
                          (<%= person.role %>)
                        <% end %>                
                      </div>
                      <% if person.email %> 
                        <div class="cl-person-contact">e-mail: <%= person.email %></div>
                      <% end %>  
                      <% if person.phone %> 
                        <div class="cl-person-contact">tel.: <%= person.phone %></div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>    
            <% end %>
          </div>
          <a class="cl-toggle-btn" data-toggle="collapse" href="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers"></a>
        <% end %>

      </div>

    </div>

    <% if @library.branches.present? || @library.branches_url? %>
    <div role="tabpanel" class="tab-pane" id="branches">      
      <div class="cl-contact-wrapper">
        <div class="cl-category">                
          <% @library.branches.each do |branch| %>
            <% if branch.name %>  
              <div class="cl-branch <%= cycle('even', 'odd') %>">            
                <div class="cl-branch-name"><%= branch.name %></div>
                <div class="cl-branch-address"><%= branch.address %></div>
              </div>
            <% end %>
          <% end %>
          <% if @library.branches_url? %>
            <a style="display:inline-block;margin-top:16px;" href="<%= @library.branches_url %>"><%= t('detail.branches.website') %></a>
          <% end %>
        </div>    
      </div>
    </div>
    <% end %>


    <% if @library.services.present? || @library.projects.present? %>
      <div role="tabpanel" class="tab-pane" id="services">
        <div class="cl-contact-wrapper">
         
          <% if @library.services.present? %>
            <div class="cl-category">
              <div class="cl-title"><%= t('detail.services.services') %></div>      
              <div class="cl-items">
                <% @library.services.each do |service| %>
                  <div class="cl-item">
                    <%= service.name %> 
                  </div>
                <% end %>
              </div>
            </div>    
          <% end %>

          <% if @library.projects.present? %>
            <div class="cl-category"> 
              <div class="cl-title"><%= t('detail.services.projects') %></div>     
              <div class="cl-items">
                <% @library.projects.each do |project| %>
                  <div class="cl-item">
                    <%= link_to project.name, projects_path(anchor: "project-#{project.code}") %>
                  </div>
                <% end %>
              </div>
            </div> 
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>


<div class="cl-disclaimer">
  <p><%= t('detail.disclaimer') %></p>
</div>

</div>


<script type="text/javascript">  
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});


</script>



<% unless @library.latitude.nil? || @library.longitude.nil? %>
<script type="text/javascript">  

  function addLibrary(map, myLatlng, bounds) {
    var contentString = '<div id="content" class="cl-marker-info">'+      
          '<div class="cl-title"><%= @library.name %></div>'+
          '<div class="cl-subtitle"><%= @library.street %>, <%= @library.zip %> <%= @library.city %></div>'+
          '</div>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: "<%= asset_path 'ic_pin_library.png' %>",
      animation: google.maps.Animation.DROP,
      zIndex:99999999,
      title: '<%= @library.name%>'
    });

    bounds.extend(marker.getPosition());

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }

  function addBranches(map, bounds) {
    var branches = [];
    <% @library.branches.each_with_index do |branch, index| %>    
      <% unless branch.latitude.nil? || branch.longitude.nil? %>
        branches.push({lat:<%= branch.latitude%>, lon:<%= branch.longitude %>, name:'<%= branch.name %>', address:'<%= branch.address %>'});
      <% end %>
    <% end %>

    for(var i = 0; i < branches.length; i++) {
      var branch = branches[i];
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng (branch.lat, branch.lon),
        icon: "<%= asset_path 'ic_pin_branch.png' %>",
        map: map,
        title: branch.title
      }); 
      bounds.extend(marker.getPosition());

      var contentString = '<div id="content" class="cl-marker-info">'+      
        '<div class="cl-title">pobočka ' + branch.name  + '</div>'+
        '<div class="cl-subtitle">' + branch.address  + '</div>'+
        '</div>';

      var infoWindow = new google.maps.InfoWindow();

      google.maps.event.addListener(marker, 'click', (function(marker, content) {
        return function() {       
          infoWindow.setContent(content);
          infoWindow.open(map, marker);
        }
      })(marker, contentString));      
    }
  }

  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @library.latitude%>, <%= @library.longitude%>);
    var mapOptions = {
      zoom: 10,
      center: myLatlng
    }
    var bounds = new google.maps.LatLngBounds();  
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    addBranches(map, bounds);
    addLibrary(map, myLatlng, bounds);    
    
    google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
      if (this.getZoom() > 15) {
        this.setZoom(15);
      } else if(this.getZoom() < 7) {
        this.setZoom(7);
      }
    });
    map.fitBounds(bounds);    
  }
  initialize();
</script>
<% end %>