<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title, "Název" %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description, "Popis" %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :place, "Místo konání" %><br>
    <%= f.text_field :place, class: 'form-control' %>
  </div>  
  <div class="field">
    <%= f.label :date, "Datum konání"  %><br>
    <%= f.text_field :date, class: 'form-control datepicker' %>
  </div>
  <div class="actions">
    <%= f.submit "Uložit", class: "btn-primary" %>
  </div>
<% end %>

