<div class="cl-project-item-wrapper <%= cycle('even', 'odd') %>">
  <div id="project-<%= project.code %>" class="cl-project-item">
    <div class="project-name"><%= project.name %></div>

    <div class="project-description"><%= project.description %></div>
    
    <% if project.url %>
      <a href="<%= project.url %>" class="project-url"><%= t('projects.website') %></a>
    <% end %>
  </div>
</div>