<footer class="footer">
  <div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>O projektu</h4>
				<ul>
					<li><%= link_to "O portálu Knihovny.cz", o_portalu_path %></li>
					<li><a href="#">Milníky ve vývoji portálu</a></li>
					<li><%= link_to "Zapojené knihovny", zapojene_knihovny_path %></li>
					<li><a href="#">Nápověda</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>O knihovnách</h4>
				<ul>
					<li><%= link_to "Projekty knihoven", projects_path %></li>
					<li><%= link_to "Služby knihoven", sluzby_knihoven_path %></li>
					<li><a href="#">Nejvýznamnější akce knihoven pro čtenáře</a></li>
					<li><a href="#">Knihovny zvou malé čtenáře</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Sledujte nás</h4>
				<a class="cl-social" href="https://www.facebook.com/Knihovnycz-1021629454546448">
					<%= fa_icon "facebook", class: "social-icon" %>
				</a>
				<a class="cl-social" href="https://www.youtube.com/channel/UCqoYmfMqjS3Nr8wGFd3gtRg">
					<%= fa_icon "youtube-play", class: "social-icon" %>
				</a>
				<a class="cl-social" href="http://www.slideshare.net/knihovnyCZ">
					<%= fa_icon "slideshare", class: "social-icon" %>
				</a>
				</div>
			</div>

		</div>
		<div class="row footer-bottom-gap hidden-xs">
  </div>

</footer>