<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <%= link_to root_path do %>
        <%= image_tag 'logo_main_white.png', class: "cl-logo" %>
      <% end %>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Databáze knihoven", map_path %></li>
        <li><%= link_to "Informace o knihovnách", root_path %></li>
        <li><%= link_to "Významné akce", root_path %></li>
      </ul>
    </div>
  </div>
</nav>
